@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
    .underline-animation {
		@apply relative;
	}

	.underline-animation::after {
		@apply absolute content-[''] w-full h-[3px] left-0 bottom-[-0px] scale-x-0 hover:scale-x-100 origin-bottom-left hover:origin-bottom-left transition-transform duration-300 bg-primary;
	}

  .underline-animation-red::after {
    @apply bg-red-500;
	}

  .underline-animation-blue::after {
    @apply bg-primary;
  }

  .underline-animation-white::after {
    @apply bg-white;
  }
}
